@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-blue: #003170;
  --color-secondary-orange: #f27800;
  --color-tertiary-darkblue: #001437;
  --color-hyperlink-blue: #0000EE;

  /* UVA Official Colors (Only orange-25 is used) */
  --color-uva-blue: #232D4B;
  --color-uva-orange: #E57200;
  --color-uva-blue-25-percent: #C8CBD2;
  --color-uva-orange-25-percent: #F9DCBF;

  --font-franklin: "Libre Franklin", sans-serif;
  --font-bodoni: "Libre Bodoni";
}

html { scroll-behavior: smooth; }
body { margin: 0; }
summary { cursor: pointer; }
@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
  .animate-bounce { animation: none; }
}
